/**
 * @component heroDetail.scss
 * @description 通用的样式。
 * @time 2017-07-05 14:00
 * @author fishYu
 **/
@import "../../styles/common/_mixins.scss";
.hero-detail{
    position: relative;
    height: calc-rem(761);
    width: calc-rem(692);
    margin: 0 auto;
    margin-top: calc-rem(55);
    .hero-detail-left{
        display: inline-block;
        width: calc-rem(228);
        height: 100%;
        vertical-align: top;
        .hero-head{
            width: calc-rem(228);
            height: calc-rem(228);
            display: inline-block;
            border-radius: 100%; 
            padding: calc-rem(40);
            margin: 0 auto;
            margin-top: calc-rem(50);
            background: url($headBgIcon) center no-repeat; 
            background-size: cover; 
            box-sizing: border-box;
            img{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: calc-rem(4) solid #575959;
                display: inline-block;
                border-radius: 100%; 
            }
        }
        
        .hero-qrcode{
            margin: 0 auto;
            margin-top: calc-rem(32); 
            width: calc-rem(210);
            height: calc-rem(210);
            background: $whiteColor;
            padding: calc-rem(15);
            box-sizing: border-box;
        }
        .hero-qrcode-hint{
            display: block;
            margin-top: calc-rem(10); 
            font-size: calc-rem(22);
            color: $whiteColor;
            font-style: italic;
        }
    }
    .hero-detail-right{
        display: inline-block;
        width: -webkit-calc(100% - #{calc-rem(228)});
        width: calc(100% - #{calc-rem(228)});
        padding-left: calc-rem(25);
        box-sizing: border-box;
        height: 100%;
        .hero-card{
            width: 100%;
            height: calc-rem(109);
            background: url($heroCardIcon) left center no-repeat; 
            background-size: contain; 
        }
        .hero-detail-text{
            width: calc-rem(355);
            height: calc-rem(135);
            background: url($commonBorderIcon) left bottom no-repeat; 
            background-size: contain; 
            font-size: calc-rem(32);
            line-height: calc-rem(55);
            color: #08abd2;
            font-style: italic;
            margin-top: calc-rem(20); 
            span{
                font-size: calc-rem(40);
                color: $whiteColor;
            }
        }
    }
}
.hero-detail-bg{
    background: url($heroDetailIcon) center no-repeat;
    background-size: contain; 
    padding-top: calc-rem(84);
    padding-left: calc-rem(30);
}
.hero-qrcode-img{
    margin: 0 auto;
    margin-top: calc-rem(32); 
    height: 180px;
    width: 180px;
    background: $whiteColor;
    padding: calc-rem(15);
    box-sizing: border-box;
    display: none;
}

.hero-prize-top1{
    margin: 0 auto;
    width: calc-rem(295);
    height: calc-rem(204);
    background: url($top1Icon) center no-repeat;
    background-size: contain; 
}

.hero-prize-top2{
    margin: 0 auto;
    width: calc-rem(184);
    height: calc-rem(134);
    background: url($top2Icon) center no-repeat;
    background-size: contain; 
}

.hero-prize-top3{
    margin: 0 auto;
    width: calc-rem(184);
    height: calc-rem(134);
    background: url($top3Icon) center no-repeat;
    background-size: contain; 
}

.hero-prize-top4{
    margin: 0 auto;
    width: calc-rem(184);
    height: calc-rem(134);
    background: url($top4Icon) center no-repeat;
    background-size: contain; 
}

.hero-prize-top5{
    margin: 0 auto;
    width: calc-rem(184);
    height: calc-rem(134);
    background: url($top5Icon) center no-repeat;
    background-size: contain; 
}
.no-margin-top{
    margin-top: 0 !important;
}

.hero-top+.hero-qrcode{
    margin-top: 0 !important;
}

.top1-hero-detail-wrapper{
    position: relative;
    width: calc-rem(1080);
    height: calc-rem(554);
    background: url($top1BgIcon) center no-repeat;
    background-size: contain; 
    display: inline-block;
    top: calc-rem(-56);
    margin-bottom: calc-rem(-112);
    margin-left: calc-rem(80);
    .top1-hero-detail-left{
        position: relative;
        display: inline-block;
        width: calc-rem(365);
        height: 100%;
        padding: 0 calc-rem(40);
        vertical-align: top;
        .top1-hero-head{
            width: calc-rem(228);
            height: calc-rem(228);
            border-radius: 100%; 
            padding: calc-rem(40);
            background: url($top1HeadIcon) center no-repeat; 
            background-size: cover; 
            box-sizing: border-box;
            margin: 0 auto;
            margin-top: calc-rem(70);
            img{
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: calc-rem(4) solid #575959;
                display: inline-block;
                border-radius: 100%; 
            }
        }
        .hero-top1{
            margin-top: calc-rem(30);
        }
    }
    .top1-hero-detail-right{
        position: relative;
        display: inline-block;
        width: -webkit-calc(100% - #{calc-rem(365)});
        width: calc(100% - #{calc-rem(365)});
        height: 100%;
        padding-right: calc-rem(40);
        padding-top: calc-rem(60); 
        .top1-hero-right-title{
            width: 100%;
            height: calc-rem(112);
            background: url($top1CardIcon) top right no-repeat;
            background-size: cover; 
        }
        .top1-hero-detail{
            position: relative;
            width: -webkit-calc(100% - #{calc-rem(340)});
            width: calc(100% - #{calc-rem(340)});
            display: inline-block;
            .hero-detail-text{
                width: 100%;
                height: calc-rem(96);
                background: url($commonBorderIcon) left bottom no-repeat; 
                background-size: contain; 
                font-size: calc-rem(18);
                line-height: calc-rem(40);
                color: #08abd2;
                font-style: italic;
                margin-top: calc-rem(10); 
                span{
                    font-size: calc-rem(30);
                    color: $whiteColor;
                }
            }
        }
        .top1-hero-qrcode{
            display: inline-block;
            width: calc-rem(340);
            padding-left: calc-rem(75);
            height: auto;
            .hero1-qrcode{
                width: calc-rem(265);
                height: calc-rem(265);
                padding: calc-rem(15);
                background: #fff;
            }
            .hero1-qrcode-hint{
                display: block;
                margin-top: calc-rem(10); 
                font-size: calc-rem(22);
                color: $whiteColor;
                font-style: italic;
            }
        }
    }
}


