@import '../../styles/common/_mixins.scss';

/**
 * @component index.scss
 * @description 首页样式
 * @time 2017-03-13 12:00
 * @author fishYu
 **/
#home-page-container{
    background: url($homeBgIcon) top center no-repeat;
    background-size: contain; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-title{
    width: 100%;
    height: calc-rem(213);
    background: url($titleIcon) center no-repeat;
    background-size: contain;
}
.home-logo{
    margin: 0 auto;
    margin-top: calc-rem(43);
    width: calc-rem(722);
    height: calc-rem(611);
    background: url($logoIcon) center no-repeat;
    background-size: calc-rem(722) calc-rem(611);
}



.home-page-button{
    margin-top: calc-rem(12.5);
    height: calc-rem(135);
    width: -webkit-calc(100% - #{calc-rem(40)});
    width: calc(100% - #{calc-rem(40)});
    background: url($homeButtonIcon) no-repeat center;
    background-size: contain; 
}