/**
 * @component common.scss
 * @description app的全局样式。
 * @time 2017-03-27 11:11
 * @author fishYu
 **/
@import "_mixins.scss";
@import 'reset.scss';
@import 'animate_in.scss';

/****通用条目样式********/
/*修改通用的输入框提示颜色*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: $hintColor;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $hintColor;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $hintColor;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $hintColor;
}
/*页面通用容器*/
.page-content-container{
    width: 100%;
    overflow-y: auto;
    height: -webkit-calc(100% - #{calc-rem($topHeight)});
    height: calc(100% - #{calc-rem($topHeight)});
}
.btn-active:active{
    opacity: .8;
}

.common-border-image{
    position: relative;
    width: 96%;
    min-height: calc-rem(621);
    background: url($borderIcon) center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.common-button-wrapper{
    position: absolute;
    width: 90%;
    bottom: calc-rem(200);
    left: 5%;
    height: calc-rem(160);
    line-height: calc-rem(160);
    font-size: calc-rem(52);
    color: $buttonTextColor;
    text-align: center;
    box-sizing: border-box;
    span{
        display: inline-block;
        text-align: center;
    }
}
.button-left-border{
    position: absolute;
    left: 0;
    width: calc-rem(41);
    height: 100%;
    background: url($leftBorderIcon) left center no-repeat;
    background-size: cover; 
}
.button-right-border{
    position: absolute;
    right: 0;
    width: calc-rem(41);
    height: 100%;
    background: url($rightBorderIcon) right  center no-repeat;
    background-size: cover; 
}

 