@import '../../styles/common/_mixins.scss';

/**
 * @component index.scss
 * @description 英雄
 * @time 2017-07-7 2:00
 * @author fishYu
 **/
#big-screen-container{
    position: absolute;
    top: 0;
    left: 0;
    width: calc-rem(3840);
    height: calc-rem(2160);
    background: url($screenBgIcon) center no-repeat;
    background-size: cover; 
    overflow: auto;
    .big-screen-title{
        margin: 0 auto;
        width: calc-rem(3799);
        height: calc-rem(446);
        background: url($screenTitleIcon) center no-repeat;
        background-size: cover; 
    }
    .new-hero-content{
        float: left;
        width: calc-rem(1882);
        height: calc-rem(1679);
        margin-left: calc-rem(20);
        margin-right: calc-rem(20);
        background: url($newHeroBgIcon) center no-repeat;
        background-size: cover; 
        padding: 0 calc-rem(98);
        padding-top: calc-rem(380);
        .new-hero-item{
            display: inline-block;
            margin-top: 0;
            margin-right: calc-rem(75);
            margin-bottom: calc-rem(75);
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }

    .top-hero-content{
        float: left;
        width: calc-rem(1882);
        height: calc-rem(1679);
        background: url($topHeroBgIcon) center no-repeat;
        background-size: cover; 
        padding: 0 calc-rem(65);
        padding-top: calc-rem(350);
        .top-hero-item{
            display: inline-block;
            margin-top: 0;
            margin-right: calc-rem(75);
            margin-bottom: calc-rem(50);
        }
    }
}
.top-hero-2{
    background: url($top2BgIcon) center no-repeat;
    background-size: contain; 
}
.top-hero-3{
    background: url($top3BgIcon) center no-repeat;
    background-size: contain; 
}
