@import '../../styles/common/_mixins.scss';

/**
 * @component index.scss
 * @description 英雄
 * @time 2017-07-7 2:00
 * @author fishYu
 **/
 #big-screen-container{
    position: absolute;
    top: 0;
    left: 0;
    width: calc-rem(3840);
    height: calc-rem(2160);
    background: url($screenBgIcon) center no-repeat;
    background-size: cover; 
    overflow: auto;
    .big-screen-title{
        margin: 0 auto;
        width: calc-rem(3799);
        height: calc-rem(446);
        background: url($screenTitleIcon) center no-repeat;
        background-size: cover; 
    }
    .new-hero-content{
        display: inline-block;
        width: calc-rem(1882);
        height: calc-rem(1679);
        margin-left: calc-rem(70);
        margin-right: calc-rem(50);
        background: url($newHeroBgIcon) center no-repeat;
        background-size: cover; 
    }

    .top-hero-content{
        display: inline-block;
        width: calc-rem(1882);
        height: calc-rem(1679);
        background: url($topHeroBgIcon) center no-repeat;
        background-size: cover; 
    }
 }
